.main {
  margin-top: 3rem;
}

.main-profile {
  display: block;
  text-align: center;
  height: 30rem;
  max-height: 35rem;
  background: rgba(164, 184, 254, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  margin: 0 8rem;

  border-radius: 10px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile-picture-margin {
  padding-top: 2rem;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ccc;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-button {
  float: right;
  margin-right: 2rem;
}

.profile-button button {
  width: 130px;
  height: 40px;

  background: #7d97f4;
  color: white;
  border: none;
  border-radius: 25px;

  font-weight: 500;
  font-size: 18px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.profile-button button:hover {
  width: 130px;
  height: 40px;

  background: #160d89;
  color: white;
  border: none;
  border-radius: 25px;

  font-weight: 500;
  font-size: 18px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.profile-pages {
  margin: 3rem 8rem;
}

.profile-text {
  font-size: 30px;
  margin-left: 1rem;
  
}

.profile-button__add-page {
  text-align: right;
  padding-top: 1rem;
}

.profile-button__add-page button {
  font-size: 20px;
  background-color: white;
  color: #7d97f4;
  border: none;
}

.profile-button__add-page button:hover {
  color: #160d89;
}

.main-profile__capitalize{
  text-transform: capitalize;
}
