/* MINIMALIST */

.about-us-overall-Minimalist {
  text-align: center;
  height: 90%;
  width: auto;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 5px;
  background-image: url("banner-Minimalist-AboutUs.jpg");
}

.about-us-header-Minimalist h1 {
  color: white;
  font-size: 40px;
  text-transform: capitalize;
}

.about-us-description-Minimalist {
  color: white;
  padding: 1rem;
  text-transform: capitalize;
}

/* BOHO */

.about-us-overall-Boho {
  height: 90%;
  width: auto;
  margin: 0 2rem 2rem 430px;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  padding: 2rem;
}

.about-us-header-Boho h1 {
  font-style: italic;
  font-size: 22px;
  margin-right: 1rem;
}

.about-us-description-Boho {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 300;
}

@media (max-width: 820px) {
  .about-us-header-Minimalist h1 {
    font-size: 30px;
  }
  .about-us-description-Minimalist p {
    font-size: 12px;
  }

  .about-us-overall-Boho {
    margin: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }
}
