/* BOHO */

.real-estate-item-Boho {
  grid-row: span 1;
  grid-column: span 1;
}

.real-estate-item__content-Boho {
  min-height: 30rem;
  margin: auto;
}

.real-estate-item__info-Boho {
  padding: 1rem;
  text-align: left;
  line-height: 15px;
}
.real-estate-item__info-Boho h1 {
  font-size: 25px;
  font-weight: 800;
  text-transform: capitalize;
}
.real-estate-item__info-Boho h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
}
.real-estate-item__info-Boho h4 {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  min-height: 3rem;
  text-transform: capitalize;
}

.real-estate-item__image-Boho {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.real-estate-item__image-Boho img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.real-estate-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.real-estate-item__modal-content {
  padding: 0;
}

.real-estate-item__modal-actions {
  text-align: right;
}

.real-estate-item__actions button,
.real-estate-item__actions a {
  margin: 0.5rem;
}

.real-estate-item__buttons-Boho button {
  background-color: white;
  border: none;
}

#real-estate-item__buttonDetail-Boho {
  background-color: white;
  border: none;
  float: right;
  color: #3a5a40;
  font-weight: 600;
}

#real-estate-item__buttonDetail-Boho:hover {
  color: #162719;
  font-size: 16px;
  font-weight: 600;
}

/* MINIMALIST */

.real-estate-item-Minimalist {
  grid-row: span 1;
  grid-column: span 1;
}

.real-estate-item__content-Minimalist {
  margin: auto;
  min-height: 30rem;
}

.real-estate-item__info-Minimalist {
  padding: 1rem;
  text-align: left;
  line-height: 15px;
}
.real-estate-item__info-Minimalist h1 {
  font-size: 25px;
  font-weight: 800;
}
.real-estate-item__info-Minimalist h3 {
  font-size: 18px;
  font-weight: 500;
}
.real-estate-item__info-Minimalist h4 {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  min-height: 3rem;
}

.real-estate-item__image-Minimalist {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.real-estate-item__image-Minimalist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.real-estate-item__buttons-Minimalist button {
  background-color: white;
  border: none;
}

#real-estate-item__buttonDetail-Minimalist {
  background-color: white;
  border: none;
  float: right;
  color: #3a5a40;
  font-weight: 600;
}

#real-estate-item__buttonDetail-Minimalist:hover {
  color: #162719;
  font-size: 16px;
  font-weight: 600;
}

/* Autumnal */

.real-estate-item-Autumnal {
  grid-row: span 1;
  grid-column: span 1;
}

.real-estate-item__content-Autumnal {
  min-height: 30rem;
  margin: auto;
}

.real-estate-item__info-Autumnal {
  padding: 1rem;
  text-align: left;
  line-height: 15px;
}
.real-estate-item__info-Autumnal h1 {
  font-size: 25px;
  font-weight: 800;
  text-transform: capitalize;
}
.real-estate-item__info-Autumnal h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
}
.real-estate-item__info-Autumnal h4 {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  min-height: 3rem;
  text-transform: capitalize;
}

.real-estate-item__image-Autumnal {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.real-estate-item__image-Autumnal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 620px) {
  .real-estate-item__content-Boho,
  .real-estate-item-Minimalist {
    margin: 2rem auto;
    min-height: auto;
  }
}
