/* BOHO */

.sidebar-Boho {
  width: 400px;
  height: 640px;

  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;

  position: -webkit-sticky;
  position: fixed;
  text-align: center;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar__content-Boho {
  margin: 0 2rem;
}

.sidebar__info-Boho {
  color: black;
  text-transform: capitalize;
}

.sidebar__info-Boho h1 {
  font-size: 30px;
}

.sidebar__info-Boho h3 {
  font-size: 15px;
  font-weight: 300;
}

.sidebar__info-Boho h2 {
  font-size: 14px;
  font-weight: 400;
}
.sidebar__business-picture-Boho {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  overflow: hidden;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.sidebar__business-picture-Boho img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__profile-picture-Boho {
  width: 50px;
  margin-top: 2rem;
  height: 50px;
}

.sidebar__profile-picture-Boho h3 {
  position: absolute;
  float: right;
  margin-left: 6rem;
}

.sidebar__profile-picture-Boho img {
  width: 100%;
  height: 100%;

  margin-right: 2rem;
  border-radius: 50%;
  margin: 0 2rem;
  object-fit: cover;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

/* MINIMALIST */

.sidebar-Minimalist {
  display: block;
  text-align: center;
  height: 32rem;
  justify-content: center;
  background: #232323;
  margin: 0 auto;

  background-image: url("background-Minimalist.jpg");
  background-size: cover;

  border-radius: 200px 200px 10px 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sidebar__business-picture-Minimalist {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 200px 200px 10px 10px;
}

.profile-business-margin-Minimalist {
  padding-top: 2rem;
}

.sidebar__business-picture-Minimalist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__profile-picture-Minimalist {
  width: auto;
}

.sidebar__profile-picture-Minimalist img {
  width: 50px;
  height: 50px;

  margin-top: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__profile-picture-Minimalist h3 {
  margin: 1rem auto;
}

.sidebar__info-Minimalist {
  color: white;
  text-transform: capitalize;
}

.sidebar__info-Minimalist h1 {
  font-size: 30px;
}

.sidebar__info-Minimalist h3 {
  font-size: 15px;
  font-weight: 300;
}

.sidebar__info-Minimalist h2 {
  font-size: 14px;
  font-weight: 400;
}

/* Autumnal */
.sidebar-Autumnal {
  display: block;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;

  margin: 0 auto;

  background-color: #383e56;

  border: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar__content-Autumnal {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.sidebar__info-Autumnal {
  color: white;
  text-transform: capitalize;
}

.sidebar__info-Autumnal h1 {
  font-size: 80px;
  font-family: Impact;
}

.sidebar__info-Autumnal h3 {
  font-size: 20px;
  font-weight: 300;
}

.sidebar__info-Autumnal h2 {
  font-size: 17px;
  font-weight: 400;
}

.profile-business-margin-Autumnal {
  margin: auto 0;
}

.sidebar__business-picture-Autumnal {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  flex-direction: row;

  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.sidebar__business-picture-Autumnal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__profile-picture-Autumnal {
  width: 50px;
  height: 50px;
  float: right;
}

.sidebar__profile-picture-Autumnal h3 {
 display: none;
}

.sidebar__profile-picture-Autumnal img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  display: none;
  object-fit: cover;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

@media (max-width: 820px) {
  /* BOHO */

  .sidebar-Boho {
    display: block;
    width: 90%;
    position: relative;
  }

  .sidebar__business-picture-Boho {
    padding-top: 2rem;
  }

  .sidebar__profile-picture-Boho h3 {
    margin-left: 20%;
  }

  .sidebar__profile-picture-Boho img {
    margin: 0 20%;
  }

  /* MINIMALIST */

  .sidebar-Minimalist {
    margin: 0 auto;
  }

  /* AUTUMNAL */

  .sidebar__content-Autumnal {
    display: block;
    position: relative;
  }

  .template-background-Autumnal {
    margin: 0;
    padding: 0.5rem;
  }

  .sidebar__business-picture-Autumnal {
    margin: 0 auto;
  }

  .sidebar__profile-picture-Autumnal img {
    margin: 0 20%;
  }
}
