.welcome-section-overall-Minimalist {
  background-image: url("banner-Minimalist.jpg");
  height: 13rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 5px;
  resize: both;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.welcome-section-header-Minimalist, .welcome-section-description-Minimalist {
    width: 25rem;
    height: auto;
    text-align: center;

}

.welcome-section-header-Minimalist h1{
font-size: 40px ;
}

.welcome-section-description-Minimalist p {
    font-size: 20px;
}




