/* MINIMALIST */

.welcome-section-overall-Minimalist {
  background-image: url("banner-Minimalist.jpg");
  height: 13rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 5px;
  resize: both;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.welcome-section-header-Minimalist,
.welcome-section-description-Minimalist {
  width: 25rem;
  height: auto;
  text-align: center;
}

.welcome-section-header-Minimalist h1 {
  font-size: 40px;
  text-transform: capitalize;
}

.welcome-section-description-Minimalist p {
  font-size: 16px;
  text-transform: none;
}

/* BOHO */
.welcome-section-overall-Boho {
  margin: 0 2rem 2rem 430px;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.welcome-section-header-Boho h1 {
  font-size: 30px;
  font-style: italic;
  text-transform: capitalize;
}

.welcome-section-description-Boho p {
  font-size: 16px;

  font-weight: 300;
}

.welcome-section-overall-Autumnal {
  padding: 2rem;
  margin-top: 3rem;
  color: white;
  /* background-color: rgba(253, 132, 32, 0.5); */
  background-color: #F69E7B;
  border-radius: 3px;
}

.welcome-section-description-Autumnal {
  font-weight: 400;
  text-align: justify;
}

.welcome-section-header-Autumnal{
  font-size:x-large;
  text-transform: capitalize;
}

@media (max-width: 820px) {
  .welcome-section-header-Minimalist h1 {
    font-size: 20px;
  }
  .welcome-section-description-Minimalist p {
    font-size: 10px;
  }

  .welcome-section-overall-Boho {
    margin: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .welcome-section-header-Boho h1,
  .welcome-section-description-Boho p {
    text-align: center;
    width: 100%;
  }
}
