.additional-form__overall {
  margin: 5rem;
  padding: 1rem;
}

.additional-form__overall_add-team {
  margin: 3rem 13rem;
}

.animated-div {
  animation: slide-in 0.5s ease-in-out;
  position: relative;
  margin: 2rem;
}

/* TEAM SECTION */

.additional-form_centered {
  margin: 0.5rem 0;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.text--form__additional {
  height: auto;
  padding: 0.5rem;
  font-size: 14px;
  box-shadow: 0 0 10px rgb(199 198 207 / 60%);

  letter-spacing: 0.5px;
  border-radius: 5px;
  border: solid;
  border-color: white;
}

.text--form__additional::placeholder,
.text--form__additional-textarea::placeholder {
  color: #b2b2b2;
  opacity: 1;
}

.text--form__additional-textarea {
  height: 7rem;

  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  box-shadow: 0 0 10px rgb(199 198 207 / 60%);
  resize: none;

  border-radius: 5px;
  border: none;
  text-align: justify;
}

.additional-form__toggle-button {
  background: none;
  margin: 2rem 0;
  border: none;
  font-size: 22px;
}

@keyframes slide-in {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.additional-edit__button-add-member button {
  float: right;

  width: auto;

  background: none;
  border: 1px solid #abb2bf;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 18px;
}

.additional-edit__button-add-member button:hover {
  background-color: #a4b9ff;
  color: white;
  border: 1px solid #a4b9ff;
}

.existing-team-members {
  margin: 3rem auto;
  display: flex;
}
.additional-form__hr {
  margin: 0 2rem;
}

.existing-team-member__card-row {
  margin: 0.5rem 0;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.existing-team-member__card-column {
  display: flex;
  flex-direction: column;
  background-color: #dae5fa;
  border-radius: 10px;
  margin: 1rem 1rem;
}
.hidden-team-member-id {
  display: none;
}

.member-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: auto;
  margin: auto auto;
  scroll-behavior: none;
}

.member-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.existing-team-member__delete-member,
.existing-team-member__add-member {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.existing-team-member__delete-member button {
  background: none;
  border: none;
}

.existing-team-member__add-member button {
  background-color: #e0efe3;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.existing-team-member__add-member button:hover {
  background-color: #b8d8be;
  color: white;
}

.existing-team-member__delete-member button:hover {
  color: red;
}

.form-additional__save-button {
  display: flex;
  justify-content: center;
}
.form-additional__save-button button {
  width: 120px;
  height: 40px;
  background: #a4b8ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 12px;
  margin: 5px 0 40px 20px;
  text-align: center;
}

.field-error {
  color: #ff0000;
  font-size: 12px;
  margin-left: 0.5rem;
}

@media (max-width: 620px) {
  .additional-form__overall {
    margin: 0;
  }

  .additional-edit__button-add-member button {
    float: left;
    margin-bottom: 1rem;
  }

  .animated-div {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .existing-team-members {
    flex-direction: column;
    margin: 0;
  }

  .existing-team-member__card-row {
    flex-direction: column;
  }

  .existing-team-member__card-column{
    margin: 1rem 0;
    padding: 0.5rem;
  }

  .additional-form_centered {
    padding: 0;
  }

  .additional-form__overall_add-team {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
