.template__buttons {
  margin: 7rem 1rem 2rem;
}

.template-overall-Minimalist {
  margin: 2rem 8rem;
}

.template-background-Boho {
  background-image: url("background-Boho.jpg");
  border-radius: 10px;
  background-size: cover;
}

.template__buttons ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: last baseline;
}

.template__buttons li {
  float: left;
}

.template__buttons button {
  width: 130px;
  height: 40px;

  border: none;
  background: none;

  font-weight: 500;
  font-size: 18px;
}

.template__buttons button:hover {
  color: #110978;
  font-size: 20px;
  font-weight: 600;
}

.parent-container-Minimalist, .parent-container-Autumnal {
  display: flex;
  flex-direction: row;
}



.parent-container-no-team {
  display: flex;
  flex-direction: column;
}

.template-adverts-Boho h1 {
  margin-left: 430px;
}



.template-background-Autumnal{
  margin: 0 7rem;
}

@media (max-width: 820px) {
  .template-overall-Minimalist {
    margin: 1rem;
  }

  .template__buttons {
    margin: 2 auto;
  }

  .template__buttons ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .template__buttons button {
    font-size: 15px;
    width: 5rem;
  }

  .container-Minimalist {
    display: block;
    flex-direction: row;
  }

  .template-overall {
    display: block;
  }

  .parent-container {
    display: block;
  }

  .parent-container-Autumnal{
    display: flex;
    flex-direction: column;
  }
  .template-adverts-Boho{
flex-direction: row-reverse;
  }

}
