.boho {
  background-color: #eee0cb;

}

#sidebar {
  width: 400px;
  height: 700px;
  background: #bcbcbc;
  border-radius: 10px;

  position: -webkit-sticky;
  position: absolute;
  text-align: center;


}

#container {
  position: absolute;
  margin-top: 5rem;
}
