body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(6, 16.50%);
} 

@media (max-width: 820px) {
    .grid-container{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    }
   }